[mysqld]
datadir=/var/lib/mysql
tmpdir=/tmp

character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

default_storage_engine=InnoDB
lower_case_table_names=1

[mysql]
default-character-set=utf8mb4
character-set-server=utf8mb4

[client]
default-character-set=utf8mb4
character-set-server=utf8mb4
